<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="handleSearchQuery(searchForm.value)">
    <!-- Search -->
    <div class="form-group row">
      <div class="input-group input-group col-lg-5">
        <input type="text" class="form-control" autocomplete="off" placeholder="Search..." [ngClass]="{'is-invalid': searchForm.controls['search'].invalid
              && searchForm.controls['search'].touched,
              'is-valid': searchForm.controls['search'].valid
              && searchForm.controls['search'].touched}" id="search" name="search" formControlName="search">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit" [disabled]="searchForm.invalid">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="col-3 alert-danger p-2 text-center rounded mt-lg-0 ml-3" *ngIf="searchForm.controls['search'].hasError('required')
        &&(searchForm.controls['search'].dirty || searchForm.controls['search'].touched)">
        Enter your search query
      </div>
    </div>
  </form>
</div>
<div class="container">
  <table class="table table-bordered table-responsive-sm table-striped table-light" [hidden]="!showTable">
    <thead>
      <th class="font-weight-bold text-center"> </th>
      <th class="font-weight-bold text-center">ISBN</th>
      <th class="font-weight-bold text-center">Book Title</th>
      <th class="font-weight-bold text-center">Authors</th>
      <th class="font-weight-bold text-center">IsCheckedOut</th>
    </thead>
    <tbody class="results-height">
      <tr
        *ngFor="let item of searchResults | paginate: {itemsPerPage: 9, currentPage:p, autoHide: true, responsive: true}; let i = index">
        <td class="text-center">
          <input type="radio" name="selectRow" (change)="radioButtonChanged($event)" [disabled]="item.is_checked_out"
            [value]="item.isbn" />
        </td>
        <td class="text-center"> {{item.isbn}} </td>
        <td class="text-center"> {{item.title}} </td>
        <td class="text-center"> {{item.array_agg}} </td>
        <td class="text-center"> {{item.is_checked_out}} </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls [autoHide]=true [hidden]="!showTable" (pageChange)="p = $event"></pagination-controls>
</div>
<div class="container" [hidden]="!showTable">
  <form [formGroup]="checkoutForm" (ngSubmit)="handleCheckoutForm(checkoutForm.value)">
    <!-- Checkout -->
    <div class="form-group row">
      <div class="col-2">
        <input type="text" class="form-control" [ngClass]="{'is-invalid': checkoutForm.controls['checkout'].invalid
    && checkoutForm.controls['checkout'].touched,
    'is-valid': checkoutForm.controls['checkout'].valid
    && checkoutForm.controls['checkout'].touched}" id="checkout" name="checkout" formControlName="checkout">
      </div>
      <button type="submit" class="btn btn-danger col-2" [disabled]="checkoutForm.invalid">Checkout</button>
      <div class="col-3 alert-danger p-2 text-center rounded ml-3 mt-lg-0" *ngIf="checkoutForm.controls['checkout'].hasError('required')
    &&(checkoutForm.controls['checkout'].dirty || checkoutForm.controls['checkout'].touched)">
        Enter your checkout query
      </div>
    </div>

  </form>
</div>
<div class="container text-center no-result-label" *ngIf="loaded && !showTable">
  No Results found
</div>